.Navigation-helper
    navigation-item.Navigation-item(
        title='{{ item.name }}'
        state='{{ item.sref || false }}'
        icon='{{ item.icon }}'
        item='item'
        ng-repeat='item in items track by $id(item)'
    )
