.PostEditor-area
    form.UiForm(   name='postForm'
                    ng-submit='ctrl.onSubmit(postForm.$valid, ctrl.vm.post.attributes)'
                    novalidate )
        header.PostEditor-header
            h1.PostEditor-title
                post-date.PostEditor-date(date="ctrl.today")
                ui-form-field(type='text'
                    label='Post title'
                    name='title'
                    model='ctrl.vm.post.attributes.title'
                    validates="{ 'required': [true, 'Title is not optional'], 'ng-minlength': 5 }")

        article.PostEditor-content
            ui-form-field(type='textarea'
                model='ctrl.vm.post.attributes.original_content'
                name='content'
                label='Journal entry'
                validates="{ 'required': true }")
